[submodule "src/omr_hardware/third_party/dais_motor"]
	path = src/omr_hardware/third_party/dais_motor
	url = git@github.com:ChiefTechLabs/dais_motor.git
[submodule "src/omr_hardware/third_party/realman_arm"]
	path = src/omr_hardware/third_party/realman_arm
	url = git@github.com:ChiefTechLabs/realman_arm.git
