<?xml version="1.0"?>
<robot name="dais_rail" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="serial_port" default="/dev/ttyRS485"/>
  <xacro:arg name="baud_rate"   default="57600"/>
  <xacro:arg name="slave_id"    default="1"/>
  <xacro:arg name="gear_ratio"  default="1000"/>
  <xacro:arg name="screw_lead" default="0.01"/>

  <ros2_control name="DaisMotor" type="system">
    <hardware>
      <plugin>omr_hardware/DaisHardware</plugin>
      <param name="serial_port">$(arg serial_port)</param>
      <param name="baud_rate">$(arg baud_rate)</param>
      <param name="slave_id">$(arg slave_id)</param>
      <param name="gear_ratio">$(arg gear_ratio)</param>
      <param name="screw_lead">$(arg screw_lead)</param>
    </hardware>

    <joint name="joint_dais">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
