<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="m65_ros2_control"
               params="serial_port:=/dev/ttyBase baud_rate:=115200 wheel_separation:=0.355 wheel_radius:=0.0625 encoder_cpr:=0">

    <link name="base_footprint"/>
    <link name="base_link"/>
    <link name="left_wheel_link"/>
    <link name="right_wheel_link"/>

    <joint name="base_footprint_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>

    <joint name="left_wheel_joint" type="continuous">
      <parent link="base_link"/>
      <child link="left_wheel_link"/>
    </joint>

    <joint name="right_wheel_joint" type="continuous">
      <parent link="base_link"/>
      <child link="right_wheel_link"/>
    </joint>

    <ros2_control name="M65Base" type="system">
      <hardware>
        <plugin>omr_hardware/M65BaseHardware</plugin>
        <param name="serial_port">${serial_port}</param>
        <param name="baud_rate">${baud_rate}</param>
        <param name="wheel_separation">${wheel_separation}</param>
        <param name="wheel_radius">${wheel_radius}</param>
        <param name="encoder_cpr">${encoder_cpr}</param>
      </hardware>

      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>
  </xacro:macro>

</robot>
