<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="realman_ros2_control"
               params="name:=RealManArm arm_ip:=192.168.1.18 tcp_port:=8080">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>omr_hardware/ArmSystem</plugin>
        <param name="arm_ip">${arm_ip}</param>
        <param name="tcp_port">${tcp_port}</param>
      </hardware>

      <joint name="joint1">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint2">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint3">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint4">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint5">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="joint6">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>

    </ros2_control>
  </xacro:macro>

</robot>
